
CREATE DATABASE [ProjectManagerDB]
GO
USE [ProjectManagerDB]
GO
/****** Object:  Table [dbo].[Actions]    Script Date: 19.01.2026 23:45:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK__Actions__3213E83F0DFED6AF] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 19.01.2026 23:45:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[task_id] [int] NOT NULL,
	[projectuser_id] [int] NOT NULL,
	[text] [nvarchar](max) NOT NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK__Comments__3213E83F545D949D] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Priorities]    Script Date: 19.01.2026 23:45:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Priorities](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK__Prioriti__3213E83F4F3AD4ED] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectInformation]    Script Date: 19.01.2026 23:45:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectInformation](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](max) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[color] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK__ProjectD__3213E83FFA64B9D5] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projects]    Script Date: 19.01.2026 23:45:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK__Projects__3213E83F702D1329] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectsHistory]    Script Date: 19.01.2026 23:45:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectsHistory](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[action_id] [int] NOT NULL,
	[project_id] [int] NOT NULL,
	[projectuser_id] [int] NOT NULL,
	[data_id] [int] NOT NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK__Projects__3213E83F7AFE9787] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectUsers]    Script Date: 19.01.2026 23:45:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectUsers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[project_id] [int] NOT NULL,
	[role_id] [int] NOT NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK__ProjectU__3213E83FB4C8F675] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 19.01.2026 23:45:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK__Roles__3213E83F6A71CB86] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Statuses]    Script Date: 19.01.2026 23:45:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Statuses](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK__Statuses__3213E83FFA196F18] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemRoles]    Script Date: 19.01.2026 23:45:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemRoles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK__SystemRo__3213E83F8ACFA4BD] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskInformation]    Script Date: 19.01.2026 23:45:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskInformation](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](max) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[due_date] [datetime] NOT NULL,
	[status_id] [int] NOT NULL,
	[priority_id] [int] NOT NULL,
	[assignedto_id] [int] NOT NULL,
	[color] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK__TaskData__3213E83F7F7B7ED2] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 19.01.2026 23:45:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[project_id] [int] NOT NULL,
	[createdby_id] [int] NOT NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK__Tasks__3213E83F31374102] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TasksHistory]    Script Date: 19.01.2026 23:45:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TasksHistory](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[action_id] [int] NOT NULL,
	[projectuser_id] [int] NOT NULL,
	[task_id] [int] NOT NULL,
	[data_id] [int] NOT NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK__History__3213E83F78B2CE91] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 19.01.2026 23:45:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](max) NOT NULL,
	[fullname] [nvarchar](max) NOT NULL,
	[password] [nvarchar](max) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[systemrole_id] [int] NOT NULL,
 CONSTRAINT [PK__Users__3213E83F0B306EF4] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Actions] ON 

INSERT [dbo].[Actions] ([id], [title]) VALUES (3, N'Added')
INSERT [dbo].[Actions] ([id], [title]) VALUES (4, N'Changed')
SET IDENTITY_INSERT [dbo].[Actions] OFF
GO
SET IDENTITY_INSERT [dbo].[Priorities] ON 

INSERT [dbo].[Priorities] ([id], [title]) VALUES (4, N'Low')
INSERT [dbo].[Priorities] ([id], [title]) VALUES (5, N'Medium')
INSERT [dbo].[Priorities] ([id], [title]) VALUES (6, N'Medium')
SET IDENTITY_INSERT [dbo].[Priorities] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([id], [title]) VALUES (3, N'user')
INSERT [dbo].[Roles] ([id], [title]) VALUES (4, N'manager')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Statuses] ON 

INSERT [dbo].[Statuses] ([id], [title]) VALUES (4, N'Completed')
INSERT [dbo].[Statuses] ([id], [title]) VALUES (5, N'Completed')
INSERT [dbo].[Statuses] ([id], [title]) VALUES (6, N'Completed')
SET IDENTITY_INSERT [dbo].[Statuses] OFF
GO
SET IDENTITY_INSERT [dbo].[SystemRoles] ON 

INSERT [dbo].[SystemRoles] ([id], [title]) VALUES (3, N'user')
INSERT [dbo].[SystemRoles] ([id], [title]) VALUES (4, N'admin')
SET IDENTITY_INSERT [dbo].[SystemRoles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [username], [fullname], [password], [created_at], [systemrole_id]) VALUES (2, N'Administrator', N'Yourname', N'12345', CAST(N'2025-12-15T23:20:56.800' AS DateTime), 4)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_ProjectUsers] FOREIGN KEY([projectuser_id])
REFERENCES [dbo].[ProjectUsers] ([id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_ProjectUsers]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Tasks] FOREIGN KEY([task_id])
REFERENCES [dbo].[Tasks] ([id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Tasks]
GO
ALTER TABLE [dbo].[ProjectsHistory]  WITH CHECK ADD  CONSTRAINT [FK_ProjectsHistory_Actions] FOREIGN KEY([action_id])
REFERENCES [dbo].[Actions] ([id])
GO
ALTER TABLE [dbo].[ProjectsHistory] CHECK CONSTRAINT [FK_ProjectsHistory_Actions]
GO
ALTER TABLE [dbo].[ProjectsHistory]  WITH CHECK ADD  CONSTRAINT [FK_ProjectsHistory_ProjectData] FOREIGN KEY([data_id])
REFERENCES [dbo].[ProjectInformation] ([id])
GO
ALTER TABLE [dbo].[ProjectsHistory] CHECK CONSTRAINT [FK_ProjectsHistory_ProjectData]
GO
ALTER TABLE [dbo].[ProjectsHistory]  WITH CHECK ADD  CONSTRAINT [FK_ProjectsHistory_Projects] FOREIGN KEY([project_id])
REFERENCES [dbo].[Projects] ([id])
GO
ALTER TABLE [dbo].[ProjectsHistory] CHECK CONSTRAINT [FK_ProjectsHistory_Projects]
GO
ALTER TABLE [dbo].[ProjectsHistory]  WITH CHECK ADD  CONSTRAINT [FK_ProjectsHistory_ProjectUsers] FOREIGN KEY([projectuser_id])
REFERENCES [dbo].[ProjectUsers] ([id])
GO
ALTER TABLE [dbo].[ProjectsHistory] CHECK CONSTRAINT [FK_ProjectsHistory_ProjectUsers]
GO
ALTER TABLE [dbo].[ProjectUsers]  WITH CHECK ADD  CONSTRAINT [FK_ProjectUsers_Projects] FOREIGN KEY([project_id])
REFERENCES [dbo].[Projects] ([id])
GO
ALTER TABLE [dbo].[ProjectUsers] CHECK CONSTRAINT [FK_ProjectUsers_Projects]
GO
ALTER TABLE [dbo].[ProjectUsers]  WITH CHECK ADD  CONSTRAINT [FK_ProjectUsers_Roles] FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles] ([id])
GO
ALTER TABLE [dbo].[ProjectUsers] CHECK CONSTRAINT [FK_ProjectUsers_Roles]
GO
ALTER TABLE [dbo].[ProjectUsers]  WITH CHECK ADD  CONSTRAINT [FK_ProjectUsers_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[ProjectUsers] CHECK CONSTRAINT [FK_ProjectUsers_Users]
GO
ALTER TABLE [dbo].[TaskInformation]  WITH CHECK ADD  CONSTRAINT [FK_TaskData_Priorities] FOREIGN KEY([priority_id])
REFERENCES [dbo].[Priorities] ([id])
GO
ALTER TABLE [dbo].[TaskInformation] CHECK CONSTRAINT [FK_TaskData_Priorities]
GO
ALTER TABLE [dbo].[TaskInformation]  WITH CHECK ADD  CONSTRAINT [FK_TaskData_Statuses] FOREIGN KEY([status_id])
REFERENCES [dbo].[Statuses] ([id])
GO
ALTER TABLE [dbo].[TaskInformation] CHECK CONSTRAINT [FK_TaskData_Statuses]
GO
ALTER TABLE [dbo].[TaskInformation]  WITH CHECK ADD  CONSTRAINT [FK_TaskInformation_ProjectUsers] FOREIGN KEY([assignedto_id])
REFERENCES [dbo].[ProjectUsers] ([id])
GO
ALTER TABLE [dbo].[TaskInformation] CHECK CONSTRAINT [FK_TaskInformation_ProjectUsers]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_Projects] FOREIGN KEY([project_id])
REFERENCES [dbo].[Projects] ([id])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Tasks_Projects]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_ProjectUsers] FOREIGN KEY([createdby_id])
REFERENCES [dbo].[ProjectUsers] ([id])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Tasks_ProjectUsers]
GO
ALTER TABLE [dbo].[TasksHistory]  WITH CHECK ADD  CONSTRAINT [FK_History_Actions] FOREIGN KEY([action_id])
REFERENCES [dbo].[Actions] ([id])
GO
ALTER TABLE [dbo].[TasksHistory] CHECK CONSTRAINT [FK_History_Actions]
GO
ALTER TABLE [dbo].[TasksHistory]  WITH CHECK ADD  CONSTRAINT [FK_TasksHistory_ProjectUsers] FOREIGN KEY([projectuser_id])
REFERENCES [dbo].[ProjectUsers] ([id])
GO
ALTER TABLE [dbo].[TasksHistory] CHECK CONSTRAINT [FK_TasksHistory_ProjectUsers]
GO
ALTER TABLE [dbo].[TasksHistory]  WITH CHECK ADD  CONSTRAINT [FK_TasksHistory_TaskData] FOREIGN KEY([data_id])
REFERENCES [dbo].[TaskInformation] ([id])
GO
ALTER TABLE [dbo].[TasksHistory] CHECK CONSTRAINT [FK_TasksHistory_TaskData]
GO
ALTER TABLE [dbo].[TasksHistory]  WITH CHECK ADD  CONSTRAINT [FK_TasksHistory_Tasks] FOREIGN KEY([task_id])
REFERENCES [dbo].[Tasks] ([id])
GO
ALTER TABLE [dbo].[TasksHistory] CHECK CONSTRAINT [FK_TasksHistory_Tasks]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_SystemRoles] FOREIGN KEY([systemrole_id])
REFERENCES [dbo].[SystemRoles] ([id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_SystemRoles]
GO
USE [master]
GO
